<% meta title: Rails.application.credentials.company_name, description: "Work, work out, eat, repeat." %>

<div class="relative h-screen flex justify-center">
  <div class="absolute transform left-1/2 -translate-x-1/2 -z-10 w-full bg-black/50 h-full">
    <%= image_tag "hero.jpeg",  class:"w-full h-full mix-blend-multiply object-cover bg-cover" %>
  </div>
  <div class="containter py-20 md:pt-44 space-y-2 flex flex-col justify-center">

    <h2 class="text-center text-8xl font-light max-w-md mx-auto text-white font-heading mb-20 tracking-wide leading-none uppercase text-right px-2">Do Your<br>Best <br><a class="flex w-full border-b-2">Work</a></h2>

    <%= link_to 'Book Now', book_path, class: 'bg-gray-100 text-gray-800 px-10 py-4 mb-10 font-heading text-xl rounded-full mx-auto hover:bg-gray-900 hover:text-gray-100 delay-300 transition ease-in-out' %>
    <a class="block text-white mx-auto py-10 group" href="#explore">
      <svg class="transform group-hover:translate-y-20 delay-250 transition ease-in-out" width="26" height="30" viewbox="0 0 26 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M13 1V29M13 29L25 17M13 29L1 17" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      </svg>
    </a>
  </div>
</div>
<div id="explore" class="px-4 md:px-24 py-24 bg-gray-950 font-heading">
  <div class="container mx-auto px-4">
    <h1 class="text-center font-light text-4xl sm:text-5xl md:text-6xl text-gray-100 mb-2">Explore the space</h1>
    <p class="text-center text-gray-200 mb-12">The Hacker House is a 2 bedroom, 2.5 bathroom steel and glass home located < 1 hour south of the Atlanta, GA airport.</p>

    <div class="flex flex-wrap -m-4">
      <div class="w-full lg:w-1/2 p-4">
        <div class="rounded-2xl overflow-clip w-full h-[688px] relative">
            <%= image_tag "loft-office.jpeg", class: "object-cover w-full h-full" %>
            <div class="block h-60 w-96 p-4 absolute -left-4 -top-4 z-10 bg-gray-950 rounded-2xl">
              <div class="block rounded-2xl w-full h-full p-4">
                <div class="w-full bg-gray-100 h-1 block mb-8"></div>
                <h1 class="text-gray-100 font-medium text-xl mb-8">Premium office setup</h1>
                <p class="text-gray-100 text-base">Enjoy a 38" curved monitor and height-adjustable standup desk. You'll face a private pond, surrrounded by nature.</p>
              </div>
            </div>
        </div>
      </div>
      <div class="w-full lg:w-1/2 p-4">
        <div class="rounded-2xl overflow-clip w-full h-[330px] relative mb-7">
            <%= image_tag "kitchen.jpeg", class: "object-cover object-bottom w-full h-full" %>
            <div class="block h-40 w-2/3 p-4 absolute -left-4 -bottom-4 z-10 bg-gray-950 rounded-2xl">
              <div class="block rounded-2xl w-full h-full p-4 overflow-scroll">
                <div class="w-full bg-gray-100 h-1 block mb-4"></div>
                <h1 class="text-gray-100 font-medium text-xl mb-4">Full size kitchen</h1>
                <p class="text-gray-100 text-base">Stay focused, stay healthy. Prepare your own food, espresso, or snacks.</p>
              </div>
            </div>
        </div>
        <div class="rounded-2xl overflow-clip w-full h-[330px] relative">
            <%= image_tag "dining.jpeg", class: "object-cover w-full h-full" %>
            <div class="block h-40 w-2/3 p-4 absolute -right-4 -bottom-4 z-10 bg-gray-950 rounded-2xl">
              <div class="block rounded-2xl w-full h-full p-4 overflow-scroll">
                <div class="w-full bg-gray-100 h-1 block mb-4"></div>
                <h1 class="text-gray-100 font-medium text-xl mb-4">Coworking space</h1>
                <p class="text-gray-100 text-base">Featuring a 6-person table, crowd-sourced library, weights, yoga mats, and 2 more standup desks + a walking pad.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-12">
  <div class="container mx-auto px-4">
    <div class="flex border-b border-gray-900 pb-4 items-center text-gray-900 mb-8 sm:mb-16">
      <svg width="8" height="8" viewbox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="4" fill="currentColor"></circle></svg>
      <span class="inline-block ml-2 text-sm font-medium font-heading">Why the Hacker House Exists</span>
    </div>
    <div class="">
      <div class="max-w-lg mx-auto lg:max-w-none">
        <div class="flex flex-col-reverse sm:flex-row -mx-4">
          <div class="w-full lg:w-1/2 px-4 mb-8 lg:mb-0">
            <div class="max-w-xl font-heading text-lg">
              <h1 class="text-4xl sm:text-5xl md:text-6xl mb-6 mt-6 sm:mt-0">When I needed to G.S.D., I did this:</h1>
              <p class="opacity-80 mb-6">
                I'm Ryan, your host. In 2015 I was struggling to get ahead in my career as a marketer so I decided to drop everything and pick up programming.
              </p>
              <p class="opacity-80 mb-6">
                I quit my job, <%= link_to 'moved to Thailand', 'https://www.ryanckulp.com/ryan-goes-to-thailand/', target: :_blank, class: 'underline' %>, and spent 16+ hours a day taking tutorials online. This blank slate environment was critical for me to overcome the technical learning curve, and one of the best decisions I've ever made.
              </p>
              <p class="opacity-80 mb-6">
                Through this routine I learned that warming up a new skill sometimes requires letting another part of your life get hypothermia. The Hacker House is an attempt to productize this (learning, doing, building) environment with a simple <%= link_to 'click of the button', book_path, class: 'underline' %>.
              </p>
            </div>
          </div>
          <div class="w-full lg:w-1/2 px-4">
            <%= image_tag "host-headshot.jpg" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="px-8 md:px-24 py-12 sm:py-32 md:pb-48">
  <div class="container mx-auto px-4">
    <div class="flex mb-4 items-center text-gray-900 pb-4 border-b border-gray-900 mb-12">
      <svg width="8" height="8" viewbox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="4" fill="currentColor"></circle></svg>
      <span class="inline-block ml-2 text-sm font-medium text-gray-900 font-heading">Testimonials</span>
    </div>
    <h1 class="font-heading text-2xl sm:text-3xl md:text-4xl text-gray-900 mb-10 md:mb-16">People who visited here say...</h1>
    <div class="flex flex-wrap -m-4">

      <% Review.approved.each do |review| %>
        <div class="w-full lg:w-1/3 p-4">
          <div class="lg:pr-6 pb-6 lg:pb-0 lg:border-r border-b lg:border-b-0 border-gray-200 h-full">
            <p class="font-heading text-xl font-semibold mb-8"><%= review.title %></p>
            <div class="bg-gray-200 h-px w-10 mb-8"></div>
            <p class="font-heading tracking-tight mb-6 max-w-sm">
              <%= review.body %>
            </p>
            <div class="flex flex-wrap items-center gap-4">
              <%= image_tag gravatar(review.email), class:"h-16 rounded-full" %>
              <div>
                <p class="tracking-tight text-lg font-semibold"><%= review.name %></p>
                <p class="text-gray-500 tracking-tight text-sm"><%= review.job_title %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="py-24 lg:py-40 overflow-hidden bg-gray-900">
  <div class="container mx-auto px-4">
    <div class="max-w-4xl mx-auto mb-24 text-center">
      <h1 class="font-heading text-3xl sm:text-4xl md:text-5xl text-gray-100 mb-16">Experience what you're capable of when there are no distractions</h1>
        <%= link_to 'Book Now', book_path, class: 'inline-flex px-10 py-4 items-center justify-center text-lg font-medium bg-gray-100 text-gray-900 hover:bg-gray-900 border border-gray-100 hover:text-gray-100 rounded-full transition ease-in-out duration-200 font-heading' %>
    </div>
    <div class="flex justify-start overflow-x-scroll w-full">
      <div class="flex-shrink-0 h-full max-w-xs sm:max-w-md mr-4 sm:mr-8">
        <%= image_tag "thumbnails/desk-1",  class:"block h-full w-full rounded-xl object-cover" %>
      </div>
      <div class="flex-shrink-0 h-full max-w-xs sm:max-w-md mr-4 sm:mr-8">
        <%= image_tag "thumbnails/bedroom-1",  class:"block h-full w-full rounded-xl object-cover" %>
      </div>
      <div class="flex-shrink-0 h-full max-w-xs sm:max-w-md mr-4 sm:mr-8">
        <%= image_tag "thumbnails/livingroom-1",  class:"block h-full w-full rounded-xl object-cover" %>
      </div>
      <div class="flex-shrink-0 h-full max-w-xs sm:max-w-md mr-4 sm:mr-8">
        <%= image_tag "thumbnails/bedroom-2",  class:"block h-full w-full rounded-xl object-cover" %>
      </div>
      <div class="flex-shrink-0 h-full max-w-xs sm:max-w-md mr-4 sm:mr-8">
        <%= image_tag "thumbnails/outside-1",  class:"block h-full w-full rounded-xl object-cover" %>
      </div>
      <div class="flex-shrink-0 h-full max-w-xs sm:max-w-md mr-4 sm:mr-8">
        <%= image_tag "thumbnails/desk-2",  class:"block h-full w-full rounded-xl object-cover" %>
      </div>
      <div class="flex-shrink-0 h-full max-w-xs sm:max-w-md mr-4 sm:mr-8">
        <%= image_tag "thumbnails/kitchen-1",  class:"block h-full w-full rounded-xl object-cover" %>
      </div>
      <div class="flex-shrink-0 h-full max-w-xs sm:max-w-md mr-4 sm:mr-8">
        <%= image_tag "thumbnails/dining-1",  class:"block h-full w-full rounded-xl object-cover" %>
      </div>
    </div>
  </div>
</div>

<section class="px-8 md:px-24 py-12">
  <div class="bg-gray-100 rounded-2xl px-8 py-24">
    <h1 class="font-heading tracking-tight text-4xl md:text-6xl font-medium text-center mb-4">FAQ</h1>
    <p class="tracking-tight text-center mb-12 font-heading">Figure out if the Hacker House is the right fit.</p>
    <div class="max-w-2xl mx-auto mb-10">

      <div id="accordion-collapse" data-accordion="collapse">
        <h2 id="accordion-collapse-heading-1">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 gap-3" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
            <span>Where is this place exactly?</span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
          <div class="p-5 border border-b-0 border-gray-200 text-gray-500">
            <p class="mb-2">
              The Hacker House is located in a small town less than 1 hour south of the ATL airport in West Georgia.
            </p>
            <p class="mb-2">
              It sits on a 50 acre property approximately 300 meters from the host / owner's permanent residence.
            </p>
            <p class="mb-2">
              Guests have full access to the property (fishing, canoe/kayak, wooded trails, etc) and full privacy (no cameras).
            </p>
          </div>
        </div>
        <h2 id="accordion-collapse-heading-2">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 gap-3" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
            <span>What are all the amenities?</span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
          <div class="p-5 border border-b-0 border-gray-200 text-gray-500">
            <p class="mb-2">The Hacker House is primarily a place to <strong>Get Things Done</strong>. That said, we provide the following features to make your stay comfortable:</p>
            <ul class="list-disc pl-4 mb-2">
              <li>Two medium-soft full beds with sheets, comforters, and extra blankets</li>
              <li>Powerful quad-zone mini split system for any climate</li>
              <li>LG 38” QHD+ Nano Curved UltraWide™ Monitor (3840x1600 resolution)</li>
              <li>Breville Baristo Pro espresso machine</li>
              <li>Samsung washer/dryer for clothing</li>
              <li>UE Megaboom 4 BLE speaker</li>
              <li>LED 16-million color ceiling light strip and lamp</li>
              <li>International-friendly wall plugs (US/EU supported)</li>
              <li>Scented candles</li>
              <li>FlexiSpot E5 dual motor standing desk</li>
              <li>Walking pad (up to 4mph)</li>
              <li>Canoe, kayak, fishing poles, ~1 mile long walking trail</li>
              <li>Growing library with primarily non-fiction books</li>
              <li>Coming soon: outdoor fire pit</li>
            </ul>
            <p class="mb-2">Your hosts have a history of service in the hospitality industry, from running an Airbnb in NYC to producing large scale events at concert venues and wedding halls.</p>
          </div>
        </div>
        <h2 id="accordion-collapse-heading-3">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 gap-3" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
            <span>Why book the Hacker House instead of a hotel?</span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
          <div class="p-5 border border-t-0 border-gray-200">
            <p class="mb-2 text-gray-500">Hotels have neighboring rooms, the Hacker House has 50 acres of nature.</p>
            <p class="mb-2 text-gray-500">Hotels are for taking a break, the Hacker House is for getting things done.</p>
            <p class="mb-2 text-gray-500">Hotels have cleaning fees, noise rules, and strict checkout. The Hacker House is human.</p>
            <p class="mb-2 text-gray-500">If you're looking for a hotel, the Hacker House is not for you.</p>
          </div>
        </div>
      </div>
    </div>

    <p class="tracking-tight text-center text-xl font-medium font-heading mb-4">Ready to do something great?</p>

    <div class="flex justify-center">
      <%= link_to 'Book Now', book_path, class: 'inline-flex px-10 py-4 mb-10 items-center justify-center text-lg font-medium bg-gray-900 text-gray-100 hover:bg-gray-100 border border-gray-900 hover:text-gray-900 rounded-full transition ease-in-out duration-200 font-heading' %>
    </div>
  </div>
</section>
