<div class="simple-calendar">
  <div class="calendar-heading flex mb-2">
    <div>
      <h1 class="calendar-title font-semibold text:xl sm:text-2xl"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></h1>
    </div>

    <div class="flex-1 text-right">
      <nav class="text-sm sm:text-md">
        <%= link_to t('simple_calendar.previous', default: 'Prev Month'), calendar.url_for_previous_view, class: 'hover:underline' %> |
        <%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view, class: 'hover:underline' %> |
        <%= link_to t('simple_calendar.next', default: 'Next Month'), calendar.url_for_next_view, class: 'hover:underline' %>
      </nav>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody">
      <% date_range.each_slice(7) do |week| %>
        <%= content_tag :tr, class: calendar.tr_classes_for(week) do %>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day), id: day, data: { action: 'click->calendar#saveDate' } do %>
              <% instance_exec(day, calendar.sorted_events_for(day), &passed_block) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
